cairocffi==1.2.0
CairoSVG==2.5.1
cffi==1.14.5
click==7.1.2
cssselect2==0.4.1
defusedxml==0.7.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==8.1.1
pycparser==2.20
pygal==2.4.0
pygal-maps-world==1.0.2
tinycss2==1.1.0
webencodings==0.5.1
requests==2017.4.17
Werkzeug==1.0.1
gunicorn==20.0.4
